<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.PayMapper">
	<select id="getBuynowList" parameterType="hashmap" resultType="CartDTO">
		<![CDATA[
	         SELECT * FROM CART
	         WHERE mID LIKE #{mid}
     	]]>
	</select>
	<select id="getCartList" parameterType="hashmap" resultType="CartDTO">
		<![CDATA[
	         SELECT * FROM CART
	         WHERE mID LIKE #{mid}
     	]]>
	</select>
	 <insert id="payInput" parameterType="PayDTO">
		<![CDATA[
			INSERT INTO ORDERS(oID, mID, oNAME, oPHONE, oADDRESS, oPOST, oAMOUNT, oPAYMENT, oDELIVERY) 
			VALUES (seq_ord.nextval, #{mid}, #{oname}, #{ophone}, #{oaddress}, #{opost}, #{oamount}, #{opayment}, #{odelivery})
		]]>
	</insert>
	<insert id="payInput_Detail" parameterType="PayDTO">
		<![CDATA[
			INSERT INTO ORDERS_DETAIL(odID, oID, pID, odSIZE, odQTY) 
			SELECT seq_ordd.nextval, oID, pID, odSIZE, odQTY
				FROM CART
				JOIN ORDERS
				ON CART.mID LIKE ORDERS.mID
				AND CART.mID LIKE #{mid}
		]]>
	</insert>
</mapper>