@charset "UTF-8";
/* 여백 초기화 */
* {
  margin: 0;
  padding: 0;
  color: #535353;
  font-size: 15px;
}
body {
  text-align: center;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
}
/* a 링크 초기화 */
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: rgb(0, 140, 255);
}
ul,
li {
  list-style: none;
}
#logo {
  width: 200px;
  height: 50px;
}
img{
	max-width:100%;
	height:auto;
}
