@charset "UTF-8";
/* 스킵 네비게이션 */
#skip {
	position: relative;
}

#skip a {
	position: absolute;
	left: 0px;
	top: -35px;
	border: 1px solid #fff;
	color: #fff;
	line-height: 30px;
	width: 150px;
	text-align: center;
}

#skip a:active, #skip a:focus {
	top: 0px;
}
/* 전체 레이아웃 */
#wrap {
	font-size: 20px;
	color: #fff;
	margin: 0 auto;
}
/* menu.jsp ========================================================*/
header {
	width: 100%;
	/* height: 50px; */
	line-height: 30px;
	background-color: #fff;
	top: 0;
	position: fixed;
}

.menu {
	display: inline-block;
	width: 100%;
	z-index: 999999;
	margin-top: 10px;
	margin-bottom: 10px;
}

.navi {
	float: left;
	width: 50px;
	margin-top: 15px;
}
/* 햄버거 버튼 */
.navi>li>a {
	height: 40px;
	width: 180px;
	margin-top: 10px;
	/* line-height: 40px; */
	font-size: 20px;
	font-weight: bold;
}

.submenu {
	position: absolute;
	width: 100px;
	display: none;
	border: solid 1px #bebebe;
	background-color: #fff;
	/* background-color: #0000ff; */
}

.submenu>li>a:hover {
	display: block;
	color: #000;
	font-weight: bold;
	background-color: #bebebe50;
}

#logo {
	width: 108px;
	height: 31px;
	margin-top: 15px;
	margin-left: 200px;
}

.search_all {
	float: right;
	margin-right: 15px;
	margin-top: 15px;
	/* background-color: #0000ff; */
	text-align: center;
}

#search {
	width: 150px;
	height: 30px;
	padding-left: 10px;
	border-radius: 15px;
	border: #bebebe solid 2px;
	outline: none;
}

#btn_search {
	width: 30px;
	height: 30px;
	border-radius: 15px;
}

#search_img {
	width: 15px;
	height: 15px;
}
/* 제품 메뉴링크 ========================================================*/
.product_menu {
	line-height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	/* background-color: #00ff00; */
}

.product_menu a {
	margin: 0.5%;
	font-weight: bolder;
	font-family: 'NotoSansKR','Nanum Gothic';
	font-size: 18px;
}

.product_menu a:hover {
	/* font-weight: bolder; */
	
}
/* end menu.jsp */
/* login.jsp */
section {
	margin: 0 auto;
	width: 100%;
	/* background-color: #ff0000; */
}
/* 로고 높이 조절 */
.section_header {
	margin-top: 100px;
	padding-top: 70px;
}

.section_header>#img {
	padding: 10px;
	width: 217px;
	height: 63px;
}

.section_header>h2 {
	color: #000;
	margin-top: 20px;
	padding-bottom: 10px;
}

.warning {
	margin-top: 10px;
	padding-right: 20px;
	text-align: right;
	font-size: 12px;
	color: #ff0000;
	width: 76%;
	/* background-color: #66bb6a; */
}

.input_group input {
	border: 1px solid #bebebe;
	width: 50%;
	height: 40px;
	margin-top: 10px;
	font-style: 14px;
	padding-left: 15px;
	/* background-color: #66bb6a; */
}
/* 양쪽 정렬 성공 */
.log_fk {
	display: inline-block;
	width: 54%;
}

.log_keep {
	float: left;
	margin: 20px 0 5px 15px;
	padding: 0;
	font-size: 13px;
	font-weight: bold;
}

.log_find>a {
	float: right;
	margin: 20px 15px 5px 0;
	font-size: 13px;
	font-weight: bold;
}
/* //양쪽 정렬 성공 */
.btn-log {
	width: 52%;
	height: 40px;
	margin-top: 30px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	background-color: #000;
}

.join_line {
	margin-top: 30px;
	font-size: 12px;
}

.join_line>a {
	margin-left: 5px;
	text-decoration: underline;
	font-weight: bold;
	color: #000;
}

.search_line {
	margin-top: 50px;
	margin-bottom: 100px;
	font-size: 13px;
}

.search_line>a {
	text-decoration: underline;
	font-weight: bold;
	color: #000;
}
/* end login.jsp */
/* join.jsp ====================================================*/
.input_group #join_pass {
	font-size: 11px;
}

.join {
	width: 55%;
	margin: 0 auto;
}

.join .input_group input {
	width: 95%;
}

#btn_chk {
	width: 55%;
}
/* 이용 약관 */
.terms {
	width: 95%;
}

.terms>span {
	float: left;
	margin: 20px 0 5px 15px;
	padding: 0;
	font-size: 12px;
	font-weight: bold;
}

.terms a {
	float: right;
	margin: 20px 0px 5px 0;
	padding: 0;
	font-size: 12px;
	font-weight: bold;
	color: #000;
}

.document {
	overflow: auto;
	overflow-x: hidden;
	border: 1px solid #bebebe;
	padding: 10px;
	font-size: 13px;
	width: 99%;
	height: 200px;
	margin-left: 10px;
	text-align: center;
}

.terms_chk {
	text-align: left;
	padding-left: 10px;
	font-size: 11px;
	font-weight: bold;
}

.get_info>span {
	float: left;
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px;
	padding: 10px;
}
/* table */
table {
	clear: both;
	padding: 0px;
	margin-left: 10px;
	font-size: 15px;
	width: 97%;
	border: 1px solid #444444;
	border-collapse: collapse;
}

table th, td {
	font-size: 12px;
	font-weight: bold;
	border: 1px solid #444444;
	padding: 5px;
}

table th {
	background-color: #6d6d6d;
	color: #fff;
}

.info_chk {
	text-align: left;
	padding-left: 10px;
	font-size: 12px;
	margin-top: 5px;
	font-weight: bold;
}

.info_ref {
	text-align: center;
	margin-top: 30px;
	margin-left: 10px;
}

.info_ref p {
	font-size: 12px;
	text-align: left;
	margin-right: 10px;
}

.info_ref span {
	float: left;
	margin-top: 30px;
	font-weight: bold;
}

.btn_join {
	width: 90%;
	height: 40px;
	margin-top: 50px;
	margin-bottom: 100px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	background-color: #000;
}
/* index.jsp ================================================================*/
/* slide ========================================================= */
article {
	margin-top: 100px;
	margin-bottom: 30px;
	text-align: center;
}
/* 전체 슬라이드 이미지 */
.slideshow {
	position: relative;
	/* 메뉴바 아래로 대신 버튼이 모두 안눌림 */
	/* z-index:-1; */
	height: 450px;
	min-width: 800px;
	overflow: hidden;
	margin: 0 auto;
	z-index: -1;
}
/* 슬라이드이미지 전체영역 */
.slideshow_slides {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	margin-top: 50px;
}

/* 슬라이드 이미지 영역 */
.slideshow_slides a {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}

.slideshow_slides img {
	height: 450px;
}
/* 이동 화살표 */
.slideshow_nav a {
	position: absolute;
	width: 23px;
	height: 40px;
	/* left: 50%; */
	top: 50%;
	transform: translateY(-50%);
	background: url(../img/arrow.png) no-repeat;
	text-indent: -9999em;
}

.slideshow_nav a.disabled {
	display: none;
}

.slideshow_nav a.prev {
	background-position: 0;
	margin-left: -273px;
}

.slideshow_nav a.next {
	background-position: -30px 0;
	margin-left: 250px;
}

.indicator {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
}

.indicator a {
	width: 8px;
	height: 8px;
	margin: 0 5px;
	background: url(../img/arrow.png) no-repeat -57px -9px;
	text-indent: -999em;
}

.indicator a.active {
	background-position: -57px 0;
}
/* //slide ========================================================= */
/* 메인화면 상품리스트 ====================================*/
.product {
	margin: 0 auto;
	overflow: hidden;
	width: 780px;
	/* background-color: #00ff00; */
}

.img_product {
	float: left;
	margin: 5px;
	width: 250px;
	height: 250px;
	background-color: aquamarine;
}

.img_product:nth-child(5n) {
	display: block;
}

.product button {
	border: none;
}
/* end index.jsp */
/* footer ======================================================*/
footer {
	overflow: hidden;
	margin-top: 50px;
	margin-bottom:20px;
	bottom: 0;
	min-width: 1000px;
	height: 130px;
/* 	font-size: 8px; */
	text-align:center;
	/* background-color: #e6e6e6; */
}
.footer_wrap{
	margin: 0 auto;
	text-align: center;
	display: inline-block;
}
.footer_logo {
	width: 108px;
	margin: 10px;
	width: 108px;
	height: 31px;
}
.footer_info{
	margin-top:5px;
	text-align: left;
}
.footer_info p{
	display: block;
	margin: 0 15px 0 15px;
	float:left;
	font-size: 10px;
	font-weight: bold;
}
